{% extends 'base.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Inicio</h4>
        </div>
    </div>
</div>

<div class="row justify-content-center">

    <h4>Nuestra plataforma se encuentra en desarrollo pronto, podras gestionar tus Cotizaciones, Order de Compra,
        Ordenes de Venta, Productos, Servicios, Facturación y mucho mas...</h4>

</div>
<div class="row justify-content-center">
    <div class="col-lg-6 col-xl-3">
        <div class="card bg-pattern">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md bg-soft-success rounded">
                            <i class="fe-layers avatar-title font-22 text-success"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1"><span data-plugin="counterup">0</span></h3>
                            <p class="text-muted mb-0">Cotizaciones</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-lg-6 col-xl-3">
        <div class="card bg-pattern">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md bg-soft-success rounded">
                            <i class="fe-award avatar-title font-22 text-success"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1">$<span data-plugin="counterup">0</span></h3>
                            <p class="text-muted mb-0">Compras</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

</div>

<div class="row justify-content-center">
    <div class="col-lg-6 col-xl-3">
        <div class="card bg-pattern">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md bg-soft-success rounded">
                            <i class="fe-delete avatar-title font-22 text-success"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1"><span data-plugin="counterup">0</span></h3>
                            <p class="text-muted mb-0">Tickets</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
    <div class="col-lg-6 col-xl-3">
        <div class="card bg-pattern">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md bg-soft-success rounded">
                            <i class="fe-dollar-sign avatar-title font-22 text-success"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1">$<span data-plugin="counterup">0</span></h3>
                            <p class="text-muted mb-0">Ventas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row-->


{% endblock content %}