<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    {% for item in menu %}

                    {% if item.hijos.all %}
                    {% if item.nivel == 0 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="{{ item.nombre }}" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="{{ item.icono }}"></i> {{ item.nombre }} <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ item.padre }}">
                            {% for child in item.hijos.all %}

                            {% if child.hijos.all %}
                            {% if child.nivel == 1 %}
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="{{ child.nombre }}"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="{{ child.icono }} me-1"></i> {{ child.nombre }} <div class="arrow-down">
                                    </div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="{{ child.padre }}">
                                    {% for item in child.hijos.all %}
                                    {% if item.hijos.all %}
                                    <!-- nivel 2 -->

                                    {% else %}

                                    <a href="{{ item.url }}" class="dropdown-item"><i class="{{ item.icono }} me-1"></i>
                                        {{ item.nombre }}</a>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            {% endif %}

                            {% else %}

                            <a href="{{ child.url }}" class="dropdown-item"><i class="{{ child.icono }} me-1"></i> 
                                {{ child.nombre }}</a>

                            {% endif %}

                            {% endfor %}

                        </div>
                    </li>
                    {% endif %}

                    {% elif not item.hijos.all and item.nivel == 0 %}
                    <li>
                        <a class="nav-link dropdown-toggle arrow-none" href="{{ item.url }}" role="button">
                            <i class="{{ item.icono }}"></i>
                            {{ item.nombre }}
                        </a>
                    </li>

                    {% endif %}

                    {% endfor %}

                </ul> <!-- end navbar-->
            </div> <!-- end .collapsed-->
        </nav>
    </div> <!-- end container-fluid -->
</div> <!-- end topnav-->