{% load static %}

<header>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header min-vh-75" style="background-image: url({% static 'assets/img/bg1.jpg' %});">
                    <span class="mask bg-gradient-primary"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <!-- <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Tableros de Control</h4> -->
                                <h1 class="text-white fadeIn2 fadeInBottom">Tableros de Control</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Realizar una inspección para detectar fallas en componentes o cableado de tableros de control de maquinaria y equipo industrial y ofrecer soluciones para su operatividad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-75" style="background-image: url({% static 'assets/img/bg3.jpg' %});">
                    <span class="mask bg-gradient-primary"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <!-- <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Proyectos de Automatizacion</h4> -->
                                <h1 class="text-white fadeIn2 fadeInBottom">Proyectos de Automatizacion</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Ofrecer soluciones de diseño de un sistema de automatización adaptado a su proceso</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-75" style="background-image: url({% static 'assets/img/bg4.jpg' %});">
                    <span class="mask bg-gradient-primary"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <!-- <h4 class="text-white mb-0 fadeIn1 fadeInBottom">HVAC</h4> -->
                                <h1 class="text-white fadeIn2 fadeInBottom">HVAC</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Instalación, asesoría y mantenimiento a sistemas de refrigeración y aire acondicionado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="min-vh-75 position-absolute w-100 top-0">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</header>