{% load static %}

<header id="inicio">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">

                <div class="page-header min-vh-75" style="background-image: url({% static 'assets/img/carusel/tableros.jpg' %});">
                    <span class="mask bg-gradient-primary"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-white fadeIn2 fadeInBottom">Tableros de Control</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Tableros de control de maquinaria y
                                    equipo industrial, ofrecer soluciones para su operatividad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-75" style="background-image: url({% static 'assets/img/carusel/automatizacion.jpg' %});">
                    <span class="mask bg-gradient-primary"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-white fadeIn2 fadeInBottom">Proyectos de Automatizacion</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Ofrecer soluciones de diseño
                                    de un sistema de automatización adaptado a su proceso</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-75" style="background-image: url({% static 'assets/img/carusel/hvac.jpg' %});">
                    <span class="mask bg-gradient-primary"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-white fadeIn2 fadeInBottom">HVAC</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Instalación, asesoría y
                                    mantenimiento a sistemas de refrigeración y aire acondicionado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="min-vh-75 position-absolute w-100 top-0">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</header>