{% load static %}

<!-- navbar navbar-expand-lg bg-white  navbar-transparent position-fixed w-100 top-0 z-index-3 shadow-none py-2 start-0 end-0 -->
<nav class="navbar navbar-expand-lg bg-white z-index-3 py-3 position-fixed w-100 top-0 z-index-3 shadow-none py-2 start-0 end-0"
    id="navbarPresentationShadow">
    <div class="container pt-1">
        <a class="navbar-brand font-weight-bolder ms-sm-3"
            href="/" rel="tooltip"
            title="Designed and Coded by Creative Tim" data-placement="bottom" target="_self">
            DM Ingenieria
            <!-- <img src="{% static 'assets/img/logos/logo-transparente.png' %}" alt="" class="logo-dark" height="50" /> -->
        </a>
        <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>

        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a role="button"
                        href="/#inicio"  class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark"
                         aria-expanded="false">
                        Inicio
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a role="button"
                        href="/#nosotros"  class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark"
                          aria-expanded="false">
                        Nosotros
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a role="button"
                        href="/#productos"  class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark"
                         aria-expanded="false">
                        Productos
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a role="button"
                        href="/#servicios"  class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark"
                         aria-expanded="false">
                        Servicios
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a role="button"
                        href="/#cotizar" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark"
                        aria-expanded="false">
                        Cotizar
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2 d-lg-none">
                    <div class="text-center">   
                
                        {% if request.user.is_authenticated %}
			    {% if request.user.is_superuser == False %}
                        	<a href="{% url 'home_app:panel-cliente' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
                                Ir a mi Tablero
                                </a>
                             {% else %}
                                <a href="{% url 'home_app:panel-admin' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
                                Ir a mi Tablero
                                </a>
                             {% endif %}                
                        {% else %}
                        <a href="{% url 'users_app:login' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">Iniciar
                            Sesion</a>
                
                        {% endif %}
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                       {% if request.user.is_superuser == False %}
                                <a href="{% url 'home_app:panel-cliente' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
                                Ir a mi Tablero
                                </a>
                             {% else %}
                                <a href="{% url 'home_app:panel-admin' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">
                                Ir a mi Tablero
                                </a>
                             {% endif %}
                    {% else %}
                    <a href="{% url 'users_app:login' %}"
                        class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">Iniciar Sesion</a>

                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
