{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% block head %} {% endblock head %}
    <!-- Plugins css -->
    <link href="{% static 'admin/assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="{% static 'admin/assets/css/config/creative/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
        id="bs-default-stylesheet" />
    <link href="{% static 'admin/assets/css/config/creative/app.min.css' %}" rel="stylesheet" type="text/css"
        id="app-default-stylesheet" />
    <link href="{% static 'admin/assets/css/config/creative/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css"
        id="bs-dark-stylesheet" />
    <link href="{% static 'admin/assets/css/config/creative/app-dark.min.css' %}" rel="stylesheet" type="text/css"
        id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="{% static 'admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

    <title>{% block title %} {% endblock title %}</title>
</head>

<!-- body start -->

<body class="loading" data-layout-mode="horizontal"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "dark", "size": "default", "showuser": false}, "topbar": {"color": "light"}, "showRightSidebarOnPageLoad": false}'>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <ul class="list-unstyled topnav-menu float-end mb-0">

                    <li class="d-none d-lg-block">
                        <form class="app-search">
                            <div class="app-search-box dropdown">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search..." id="top-search">
                                    <button class="btn input-group-text" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
    
                            </div>
                        </form>
                    </li>

                    <li class="dropdown d-inline-block d-lg-none">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light"
                            data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <i class="fe-search noti-icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-lg dropdown-menu-end p-0">
                            <form class="p-3">
                                <input type="text" class="form-control" placeholder="Buscar ..."
                                    aria-label="Recipient's username">
                            </form>
                        </div>
                    </li>

                    <li class="dropdown d-none d-lg-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen"
                            href="#">
                            <i class="fe-maximize noti-icon"></i>
                        </a>
                    </li>

                    <li class="dropdown notification-list topbar-dropdown">
                        <!-- <a class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fe-bell noti-icon"></i>
                            <span class="badge bg-danger rounded-circle noti-icon-badge">9</span>
                        </a> -->
                        <div class="dropdown-menu dropdown-menu-end dropdown-lg">

                            <!-- item-->
                            <!-- <div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                    <span class="float-end">
                                        <a href="" class="text-dark">
                                            <small>Clear All</small>
                                        </a>
                                    </span>Notification
                                </h5>
                            </div> -->

                            <div class="noti-scroll" data-simplebar>

                               
                            </div>

                            <!-- All-->
                            <!-- <a href="javascript:void(0);"
                                class="dropdown-item text-center text-primary notify-item notify-all">
                                View all
                                <i class="fe-arrow-right"></i>
                            </a> -->

                        </div>
                    </li>

                    <li class="dropdown notification-list topbar-dropdown">
                        <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light"
                            data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            {% if request.user.avatar %}
								<img src="{{ request.user.avatar.url }}" alt="user-image"
									class="rounded-circle">
							{% else %}
								<img src="{% static 'admin/assets/images/user_group.png' %}" alt="user-image"
									class="rounded-circle">
							{% endif %}
                            <span class="pro-user-name ms-1">
                                {{request.user.get_full_name}} <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Bienvenido !</h6>
                            </div>

                            <!-- item-->
                            {% if request.user.is_superuser %}
                            <a class="dropdown-item notify-item" href="{% url 'admin:index' %}"><i
                                    class="fe-settings"></i>Administrdor</a>
                            {% endif %}

                            <!-- item-->
                            <a href="/perfil/{{ request.user.id }}/" class="dropdown-item notify-item">
                                <i class="fe-user"></i>
                                <span>Perfil</span>
                            </a>

                            <!-- item-->
                            <a href="{% url 'users_app:update' %}" class="dropdown-item notify-item">
                                <i class="fe-unlock"></i>
                                <span>Cambiar Contraseña</span>
                            </a>

                            <div class="dropdown-divider"></div>

                            <!-- item-->
                            <a href="{% url 'users_app:logout' %}" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i>
                                <span>Cerrar Sesion</span>
                            </a>

                        </div>
                    </li>

                    <!-- <li class="dropdown notification-list">
                        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                            <i class="fe-settings noti-icon"></i>
                        </a>
                    </li> -->

                </ul>

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="/" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <!-- <img src="{{ app.logo_mini.url }}" alt="" height="90"> -->
                            <img src="{% static 'assets/img/logos/logo-mini-transparente.png' %}" alt="" height="30">
                        </span>
                        <span class="logo-lg">
                            <!-- <img src="{{ app.logo.url }}" alt="" height="90"> -->
                            <img src="{% static 'assets/img/logos/logo-transparente.png' %}" alt="" height="70">
                        </span>
                    </a>

                    <a href="/" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <!-- <img src="{{ app.logo_mini.url }}" alt="" height="90"> -->
                            <img src="{% static 'assets/img/logos/logo-mini-transparente.png' %}" alt="" height="30">
                        </span>
                        <span class="logo-lg">
                            <!-- <img src="{{ app.logo.url }}" alt="" height="90"> -->
                            <img src="{% static 'assets/img/logos/logo-transparente.png' %}" alt="" height="70">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>

                    <li>
                        <!-- Mobile menu toggle (Horizontal Layout)-->
                        <a class="navbar-toggle nav-link" data-bs-toggle="collapse"
                            data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>

                </ul>
                
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        {% include 'componentes/menu_horizontal.html' %}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    {% block content %} {% endblock content %}
                    <!-- end page title -->

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            {% include 'componentes/footer.html' %}
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    {% include 'componentes/configuracion.html' %}
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- Vendor js -->
    <script src="{% static 'admin/assets/js/vendor.min.js' %}"></script>

    <!-- Tippy js-->
    <script src="{% static 'admin/assets/libs/tippy.js/tippy.all.min.js' %}"></script>

    {% block extrajs %} {% endblock extrajs %}

    <!-- App js-->
    <script src="{% static 'admin/assets/js/app.min.js' %}"></script>

</body>

</html>